<article id="<%= todo.id  %>">
  <span><%= todo.id  %></span>
  <span class="content"><%= todo.todo_content %></span>  
  <a class="edit"  href="/todos/<%= todo.id %>/edit">Edit</a>
  <a class="delete"  href="/todos/<%= todo.id %>">basura</a>
  <!-- <i class="fa fa-trash-o" aria-hidden="true"></i> -->
</article>